body,
html {
  width: 100%;
  height: 100%;
  font-family: 'montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  background-size: cover;
}

h1{
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}

.btn{
  background-color: rgb(255, 143, 68);
  text-transform: capitalize;
  border: 2px solid  rgb(255, 143, 68) ;
  border-radius: 40px;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  transition: 1s;
}

.btn:hover{
  background-color:rgb(201, 137, 95);
  border: 2px solid  rgb(201, 137, 95);
}

.buffer{
  height: 10rem;
}

button::after{
  border-top: 2px solid rgb(255, 143, 68);
  margin-bottom: 50px;
}
